<footer>
<p> <a href="#" >Blog CoderFrame|备案号:陕ICP备19003822号</a></p>
<!---

<div class="guanzhu fl">
        <ul>
        <li><img src="__IMG__/nianling.png">
        <span> 
                <script language="javascript">
                        function   ages(str)   
                        {   
                                var   r   =   str.match(/^(\d{1,4})(-|\/)(\d{1,2})\2(\d{1,2})$/);     
                                if(r==null)return   false;     
                                var   d=   new   Date(r[1],   r[3]-1,   r[4]);     
                                if   (d.getFullYear()==r[1]&&(d.getMonth()+1)==r[3]&&d.getDate()==r[4])   
                                {   
                                        var   Y   =   new   Date().getFullYear();   
                                        return("年龄   "+   (Y-r[1])   +"   周岁");   
                                }   
                                return("日期格式错误！");   
                        }   
                        document.write(ages("2015-03-09"));   
                </script>
        </span>
        </li>
          <li><img src="__IMG__/weizhi.png"><span>中国·北京</span></li>
          <li><img src="__IMG__/qq.png"><span>QQ：476847113</span></li>
          <li><img src="__IMG__/weixin.png"><span><img src="__IMG__/wxewm.png"></span></li>
        </ul>
 </div>
<div class="username">Baby的小家</div>


--->

</footer>

<a href="#" class="cd-top">Top</a>