<meta charset="utf-8">
<title>Blog CoderFrame</title>
<meta name="keywords" content="个人博客,latefly,latefly的博客" />
<meta name="description" content="latefly 一个执着于技术的技术宅。" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="shortcut icon" href="__IMG__/latefly logo.png">

<link href="__CSS__/base.css" rel="stylesheet">
<script src="__JS__/jquery.min.js" type="text/javascript"></script>
<script src="__JS__/comm.js" type="text/javascript"></script>
<!--[if lt IE 9]>
<script src="js/modernizr.js"></script>
<![endif]-->
<script src="__JS__/scrollReveal.js"></script>