<aside class="l_box">
        <!-- <div class="wdxc">
          <h2>我的相册</h2>
          <ul>
            <li><a href="/tuseday/photo/21.html" title="古典个人博客模板《青砖屋檐》"><img src="http://www.yangqq.com/skin/850/images/text02.jpg"></a></li>
            <li><a href="/tuseday/photo/20.html" title="个人博客模板《早安》"><img src="http://www.yangqq.com/skin/850/images/b02.jpg"></a></li>
            <li><a href="/tuseday/photo/7.html" title="简单手工纸玫瑰"><img src="http://www.yangqq.com/d/file/news/s/2014-01-29/15e613795b6fe3ad00e917556b6b76c6.jpg"></a></li>
            <li><a href="/tuseday/photo/6.html" title="房前种菜，屋后栽花"><img src="http://www.yangqq.com/d/file/news/read/2014-05-28/f805e33f1266f2504739c740084faac7.jpg"></a></li>
            <li><a href="/tuseday/photo/5.html" title="陌上花开，可缓缓归矣"><img src="http://www.yangqq.com/d/file/news/s/2013-07-09/d353fb4c75965aef35182a7875186b79.jpg"></a></li>
            <li><a href="/tuseday/photo/4.html" title="云南之行——丽江古镇玉龙雪山"><img src="http://www.yangqq.com/d/file/news/s/2014-01-04/6bccfe64820d609bcd0ab7ca7a7fa5dd.jpg"></a></li>
          </ul>
        </div> -->
        <div class="search">
          <form action="/Tools" method="post" name="searchform" id="searchform">
            <input name="keyboard" id="keyboard" class="input_text" value="请输入关键字词" style="color: rgb(153, 153, 153);" onfocus="if(value=='请输入关键字词'){this.style.color='#000';value=''}" onblur="if(value==''){this.style.color='#999';value='请输入关键字词'}" type="text">
            <!-- <input name="show" value="title" type="hidden">
            <input name="tempid" value="1" type="hidden">
            <input name="tbname" value="news" type="hidden"> -->
            <input name="Submit" class="input_submit" value="搜索" type="submit">
          </form>
        </div>
        <div class="tuijian">
          <h2>最近更新</h2>
          <ul>
              {volist name="article_new" id="this_article"}
                 <li><a href="/Info/index/id/{$this_article.id}.html" title="{$this_article.id}">{$this_article.title}</a></li>
              {/volist}
          </ul>
        </div>
        <div class="tuijian">
          <h2>点击排行</h2>
          <ul>
              {volist name="article_top" id="this_article"}
               <li><a href="/Info/index/id/{$this_article.id}.html" title="{$this_article.id}">{$this_article.title}</a></li>
              {/volist}
          </ul>
        </div>
        <div class="fenlei">
          <h2>分类</h2>
          <ul>
            <li><a href="/">新鲜事儿（13）</a></li>
            <li><a href="/">我的日记（8）</a></li>
            <li><a href="/">我的相册（8）</a></li>
            <li><a href="/">微记录（8）</a></li>
            <li><a href="/">视频（8）</a></li>
          </ul>
        </div>
        <div class="links">
          <h2>友情链接</h2>
          <ul>
            <li><a href="https://www.geticsen.cn" title="周恩财的个人博客">周恩财的个人博客</a></li>
          </ul>
        </div>
      </aside>