<!doctype html>
<html>
<head>
<!---头部引用--->
{include file='index/common/htmlhead'}
</head>
<body>
<header>
    <!---头像以及联系方式-->
  {include file='index/common/header'}
  <!----导航栏----->
  {include file='index/common/navigate'}
  </nav>
</header>
<article>
  <div class="picbox">
    <ul>
      <li data-scroll-reveal="enter bottom over 1s" ><a href=""><i><img src="http://www.yangqq.com/skin/850/images/text02.jpg"></i>
        <p class="picinfo">古典个人博客模板《青砖屋檐》</p>
        </a> </li>
      <li data-scroll-reveal="enter bottom over 1s" ><a href=""><i><img src="http://www.yangqq.com/d/file/news/s/2013-07-09/d353fb4c75965aef35182a7875186b79.jpg"></i>
        <p class="picinfo">古典个人博客模板《青砖屋檐》</p>
        </a> </li>
         <li data-scroll-reveal="enter bottom over 1s" ><a href=""><i><img src="http://www.yangqq.com/skin/850/images/text02.jpg"></i>
        <p class="picinfo">古典个人博客模板《青砖屋檐》</p>
        </a> </li>
      <li data-scroll-reveal="enter bottom over 1s" ><a href=""><i><img src="http://www.yangqq.com/d/file/news/s/2013-07-09/d353fb4c75965aef35182a7875186b79.jpg"></i>
        <p class="picinfo">古典个人博客模板《青砖屋檐》</p>
        </a> </li>
              <li data-scroll-reveal="enter bottom over 1s" ><a href=""><i><img src="http://www.yangqq.com/skin/850/images/text02.jpg"></i>
        <p class="picinfo">古典个人博客模板《青砖屋檐》</p>
        </a> </li>
      <li data-scroll-reveal="enter bottom over 1s" ><a href=""><i><img src="http://www.yangqq.com/d/file/news/s/2013-07-09/d353fb4c75965aef35182a7875186b79.jpg"></i>
        <p class="picinfo">古典个人博客模板《青砖屋檐》</p>
        </a> </li>
         <li data-scroll-reveal="enter bottom over 1s" ><a href=""><i><img src="http://www.yangqq.com/skin/850/images/text02.jpg"></i>
        <p class="picinfo">古典个人博客模板《青砖屋檐》</p>
        </a> </li>
      <li data-scroll-reveal="enter bottom over 1s" ><a href=""><i><img src="http://www.yangqq.com/d/file/news/s/2013-07-09/d353fb4c75965aef35182a7875186b79.jpg"></i>
        <p class="picinfo">古典个人博客模板《青砖屋檐》</p>
        </a> </li>
    </ul>
  </div>


  {include file='index/common/pagebutton'}
  <script>
	if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))){
		(function(){
			window.scrollReveal = new scrollReveal({reset: true});
		})();
	};
</script> 
</article>
<div class="blank"></div>
  {include file='index/common/footer'}
</body>
</html>
